@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body {
    background-color: rgb(241, 238, 225);
    background-size: 30px 30px;
    background-image:
        linear-gradient(rgba(75, 70, 121, 0.4) 2px, transparent 2px),
        linear-gradient(90deg, rgba(75, 70, 121, 0.4) 2px, transparent 2px);
}


div {
    background-color: rgba(256, 256, 256, 0.8);
    width: 1000px;
    font-family: 'Klee One', cursive;
    font-size: 20px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1 {
    font-family: 'Courgette', cursive;
    font-size: 56px;
    text-align: center;
}


h2,
h3 {
    font-family: 'Klee One', cursive;
}


h2 {
    text-align: center;
}


.recipes-list {
    font-weight: 700;
    font-size: 24px;
}