@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body {
    background-color: rgb(241, 238, 225);
    background-size: 90px 90px, 30px 30px, 30px 30px;
    background-image:
        url(red-line.png),
        linear-gradient(rgba(75, 70, 121, 0.2) 2px, transparent 2px),
        linear-gradient(90deg, rgba(75, 70, 121, 0.2) 2px, transparent 2px),
        linear-gradient(90deg, rgba(110, 83, 60, 0.2) 1em, transparent);
    background-position-x: right, left, left, left;
    background-repeat: repeat-y, repeat, repeat, repeat-y;
}


div {
    background-color: rgba(256, 256, 256, 0.8);
    background-color: transparent;
    width: 40%;
    font-family: 'Klee One', cursive;
    font-size: 20px;
    font-weight: 600;
    color: rgb(18, 25, 85);
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    border-left: double;
    border-left-width: 15px;
    border-left-color: rgb(11, 88, 40);
    border-right: double;
    border-right-width: 15px;
    border-right-color: rgb(11, 88, 40);
}


img {
    display: block;
    margin: auto;
    max-width: 50%;
    height: auto;
}


h1 {
    font-family: 'Courgette', cursive;
    font-size: 56px;
    text-align: center;
    text-decoration-line: underline;
    color: rgb(33, 41, 119);
}


h2,
h3 {
    font-family: 'Klee One', cursive;
    text-decoration-line: underline;
    color: rgb(18, 25, 85);
}


h2 {
    text-align: center;
    color: rgb(18, 25, 85);
}


.recipes-list {
    font-weight: 700;
    font-size: 24px;
}